<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BRYSerialAnimationQueue.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Bolts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DisplaySwitcher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKCoreKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKLoginKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FoldingTabBar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSQMessagesViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSQSystemSoundPlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>KYAnimatedPageControl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>KYGooeyMenu.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MaterialKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Parse.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ParseFacebookUtilsV4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-MarsTalk.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Presentr.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PubNub.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RAMAnimatedTabBarController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RMPZoomTransitionAnimator-RMPZoomTransitionAnimator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RMPZoomTransitionAnimator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SCLAlertView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SSBouncyButton.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SVProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SkyFloatingLabelTextField.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>UIColor-Hex.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>UIImage+BetterAdditions.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EB19C1377A747F81110D44E2D5FCF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED4DFAAD25E1999D0244868457A351E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8AA1BAF35413BDB954A1DF93576ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF576857404F89A7083CDCB420CD715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE952A6C96E083F4718AE1F0B04191F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B1B821EEEA41174904DC84CB1FBD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CDDB315DD2B098E0CD9ED56B026F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69DCD633B32C4FD3041B38D88E2D5C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EDC37F3FA92533C6AC3562458AA91F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73850773DC05DB0F801C716B2A9E95F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F98E0BA74CF0F63EF8862791F0ABA6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8719BDCC744742C16DF2E0A06C533DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8978C7FB7007A28B676AB1EA004C3923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A2E8FED01C8A6BC8ADFCF3C3B78368F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BBD1BF73CB3D9263A3DF1D45A947BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9091229326D8C5C3D0072B04E6AD712A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0F2E5EA1B46A5D72FFD42B0B39DBBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EA9F0EA18855A0CA658398C2EEF475A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9B933D4B45386232172E6797ACBDC52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0C280A007427363BAABBEDE310D8081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C540C9BB975B0C8489D9AC3D68D1BC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E01F0D77F3BAA913766049C708CA9B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0ABDE0D55F4A0D4DC3F07607652ADFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED122B430FE98D5F7B3CAA53C4EAB28E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F25FC80BDA983CB68D8F4DBA4C79A6DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE632A2759E2FF0733D3DA467A468C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
